.header {
    width: 500px;
    height: 250px;
}

.header__logo {
    width: 100px;
    height: 100px;

    cursor: pointer;
}

.main__title{
    text-decoration: underline;
}

.project__title {
    text-transform: uppercase;
}

.galery__main_img {
    /* width: 500px; */
    /* height: 500px; */
}
