body {
  padding: 5% 10%;
  color: white;
  background: url("../img/background.jpg") repeat;
}

section {
  border: yellow solid;
  margin: 1% 0;
  background: black;
  border-radius: 4px;
  padding: 1%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: yellow;
  text-transform: uppercase;
  text-decoration: underline;
}
