.header {
  width: 100%;
  display: flex;
  justify-content: space-around;
  background: yellow;
  border-radius: 4px;
}

.header__navigation {
  flex: 1 1 auto;
}

.header__logo {
  flex: 1 1 auto;
}

.header__logo_icon {
  width: 100px;
}

.header__list {
  display: flex;
  height: 100%;
  margin: 0;
  padding: 0;
  justify-content: space-evenly;
  list-style-type: none;
}

.header__list_element {
  padding-top: 5%;
}

.header__list_element > a {
  color: black;
}
